html {
  width: 100vw;
  height: 100vh;
}

body, #root, .container {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

h1 {
  color: black;
  font-weight: 700;
}

p {
  color: rgb(150 151 156);
  font-weight: 500;
}

.pagecomponent {
  background-image: url(./images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10em;
}

.pageindex {
  display: flex;
  width: 60%;
  height: 50%;
  justify-content: space-evenly;
}

#i1, #i2, #i3, #i4 {
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

#i1-active, #i2-active, #i3-active, #i4-active {
  color: black;
  border: none;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: rgb(189 226 254);
}

form {
  background-color: rgb(237 244 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.labelgroup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 2em;
  margin: 0;
}

.labelgroup > label {
  width: 50%;
}

.labelgroup > span {
  width: 100%;
  text-align: end;
  visibility: hidden;
}

.form-inputpart {
  background-color: white;
  width: 90%;
  position: relative;
  bottom: 3.5em;
  padding: 1em 2em 3em 2em;
  border-radius: 1em;
}

.form-submitpart {
  background-color: white;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-right: 1em;
  background-color: rgb(5 40 88);
  color: white;
  border: none;
  padding: 0.5em 0.75em 0.5em 0.75em;
  border-radius: 0.5em;
}

input, label {
  display:block;
  width: 100%;
}

input {
  height: 3em;
  margin-top: 0.25em;
  margin-bottom: 1em;
  border: 1px solid rgb(123 141 154);
  background-color: white;
  border-radius: 0.5em;
  padding-left: 1em;
}

/* Page 2 */

.price {
  width: 100%;
  height: 5em;
  margin: 1em 0 1em 0;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(123 141 154);
  margin: 1em 0 1em 0;
  padding: 0.75em;
  text-align: start;
}

.price > div > p {
  margin: 0 0 0 1em;
}

.bluetext {
  color: rgb(30 54 88);
  font-weight: 700;
}

.checkarea {
  width: 100%;
  height: 3em;
  background-color: rgb(248 249 254);
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.float-left {
  float: inline-start;
  width: 7em;
  font-weight: 700;
}

.float-right {
  float: inline-start;
  width: 7em;
  margin-left: 1em;
  font-weight: 700;
}

.form-switch .form-check-input {
  background-color: rgb(3 40 90);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='white'/%3e%3c/svg%3e") !important;
}

.backbtn {
  background-color: white;
  color: grey;
  font-weight: 700;
}

.hidden {
  visibility: hidden;
}

/* page 3 */

.price-addon {
  border-radius: 0.5em;
  width: 100%;
  height: 4em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgb(123 141 154);
  text-align: start;
  margin-bottom: 1em;
  padding: 1em;
}

.price-addon > div > p {
  margin: 0 0 0 0em;
  font-size: 0.75em;
}

.info-addon {
  margin-left: 0.5em;
  width: 100%;
  text-align: start;
}

.addon-checkbox {
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
}

/* page 4 summary */

.summary {
  background-color: rgb(248 249 254);
  border-radius: 1em 1em 0 0;
  padding: 1em 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(240 240 243);
}

.summary > div > p {
  color: black;
  margin: 0;
  padding: 0;
}

.summary > div > a > p {
  text-decoration: underline;
}

.mathblock {
  visibility: hidden;
  height: 0;
}

.summary-part2 {
  background-color: rgb(248 249 254);
  border-radius: 0 0 1em 1em;
  padding: 1em;
}

.summary-part2 > div {
  display: flex;
  justify-content: space-between;
}

.p4-price {
  color: black;
  font-weight: 700;
}

.totalpart {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em 1em 1em;
}

.totalprice {
  color: hsl(243, 100%, 62%);
}

.btn-confirm {
  background-color: hsl(243, 100%, 62%);
}

/* Conformation */

#conformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

#conformation > p {
  text-align: center;
}

#logo {
  height: 3em;
  margin-bottom: 1em;
}

/* Validation */

.errorinput {
  border: 1px solid red;
}

#error {
  visibility: unset;
  color: red;
}

/* Active states */

.price:focus {
  border: 1px solid rgb(30 54 88);
  background-color: rgb(248 249 254);
}

.price:hover {
  border: 1px solid rgb(30 54 88);
}

.backbtn:hover {
 color: rgb(30 54 88);
}

.price-addon:focus {
  border: 1px solid rgb(30 54 88);
  background-color: rgb(248 249 254);
}

#change:hover {
 color: hsl(243, 100%, 62%);
}

.btn-confirm:hover {
  opacity: 50%;
}

/* Responsive */

.responsive-pagecomponent {
  position: absolute;
  top: 1px;
  visibility: hidden;
}

.responsive-pageindex {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 100%;
    min-height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
  }

  .pagecomponent {
    background-image: url(./images/bg-sidebar-desktop.svg);
    background-size: cover;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    margin: 1em;
    height: 100%;
    width: 30%;
    border-radius: 1em;
  }

  .pageindex {
    flex-direction: column;
    margin-left: 1em;
  }

  form {
    background-color: white;
    width: 70%;
    justify-content: center;
  }

  .labelgroup {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 2em;
    margin: 0;
  }

  .responisve-page2 {
    display: flex;
    justify-content: space-between;
  }

  .form-inputpart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: static;
    padding: 5em 2em 3em 2em;
    border-radius: 1em;
  }

  .form-submitpart {
   padding: 0  1em 0 1em;
  }

  /* Page 2 */

  .price {
    width: 30%;
    height: 10em;
    margin: 1em 0 1em 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .price > div > p{
    margin: 0 0 0 0;
  }

  .checkarea {
    margin-top: 2.5em;
  }

  /* page 3 */

  .price-addon {
    margin-top: 1em;
  }

  /* page 4 summary */

  .summary {
    margin-top: 1em;
  }

  .summary-part2 {
    background-color: rgb(248 249 254);
    border-radius: 0 0 1em 1em;
    padding: 1em;
  }

  .p4-price {
    color: black;
    font-weight: 700;
  }

  .totalpart {
    margin: 2em 1em 1em 1em;
  }

  .totalprice {
    color: hsl(243, 100%, 62%);
  }

  #conformation {
    justify-content: center;
  }

  /* Responsive */

.responsive-pageindex {
  display: flex;
  margin: 2em 1em 1em 2em;
  text-align: center;
}

.responsive-pagecomponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  top: 0;
  visibility: unset;
  margin-left: 1em;
}

.responsive-pagecomponent > p {
  margin: 0;
  padding: 0;
}

.whiteboldtext {
  color: white;
}

.pageindex {
  display: none;
}
}